:root {
  --primary-color: #007bff;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --text-color-primary: #28a745;
  --text-color-secondary: #6c757d;
  --background-color-light: #f8f9fa;
  --background-color-white: #ffffff;
  --background-color-danger-light: #f8d7da;
  --border-color-light: #e9ecef;
  --box-shadow-light: rgba(0, 0, 0, 0.1);

  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color-light);
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.card-custom,
.install_wrapper {
  padding: var(--spacing-xl);
  border-radius: var(--border-radius-md);
  background-color: var(--background-color-white);
  box-shadow: 0 0.5rem 1.5rem var(--box-shadow-light);
  margin-top: 20px;
  margin-bottom: 50px;
}

.install_wrapper {
  box-shadow: 0px 0px 3px 0px #e2e2e2;
  padding: 20px;
}


.card-custom h2 {
  color: var(--text-color-primary);
  margin-bottom: var(--spacing-md);
  font-weight: 600;
}

.card-custom p {
  color: var(--text-color-secondary);
  line-height: 1.6;
  margin-bottom: var(--spacing-sm);
}

.btn-go-app {
  border-color: var(--primary-color);
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  margin-top: var(--spacing-md);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-go-app:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.warning-text {
  font-size: 0.9rem;
  color: var(--danger-color);
  margin-top: var(--spacing-lg);
  border-top: 1px solid var(--border-color-light);
  padding-top: var(--spacing-md);
}

.warning-text code {
  color: var(--danger-color);
  background-color: var(--background-color-danger-light);
  padding: 0.2em 0.4em;
  border-radius: var(--border-radius-sm);
}

.icon-success {
  font-size: 4rem;
  color: var(--success-color);
  margin-bottom: var(--spacing-md);
}

.logo {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.logo img {
  width: 180px;
}

.form-control,
.btn {
  border-radius: 0px;
}